@use "@/common/styles/variables" as *;
@use 'sass:color';

.link {
  margin-left: 0.5rem;
  color: $accent-color;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  font-weight: 500;
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 0;
    background: linear-gradient(to right, var(--accent-color), var(--secondary-accent));
    transition: width 0.3s ease;
  }
  
  &:hover {
    color: var(--accent-lighter);
    text-shadow: 0 0 8px hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.4);
    
    &::after {
      width: 100%;
    }
  }
} 