@use "@/common/styles/variables" as *;

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.card {
  width: 100%;
  max-width: 400px;
  background: $card-bg;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 2.5rem;
  box-shadow: 0 15px 35px hsla(var(--dark-bg-h), var(--dark-bg-s), var(--dark-bg-l), 0.6), 0 0 25px hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.2);
  color: $light-text;
  border: 1px solid hsla(var(--secondary-accent-h), var(--secondary-accent-s), var(--secondary-accent-l), 0.1);
  position: relative;
  animation: fadeIn 0.8s ease-out forwards;
  overflow: hidden;
  z-index: 2;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top right, hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1), transparent 70%);
    pointer-events: none;
  }
}
